body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    text-align: center;
    margin: 0;
    padding: 0;
}

#game-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#story-container {
    position: relative;
}

#scene-image {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    transition: opacity 1s ease-in-out;  /* Transition effect */
}

#story-text {
    color: rgb(3, 3, 3);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;  /* Initially hidden */
    transition: opacity 1s ease-in-out;  /* Transition effect for text */
}

button {
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
